h3{
    background-color: blueviolet;
} 

p.top{
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.5em;
    word-spacing: 2.5em;
    font-family: 'Times New Roman', Times, serif;

}

p#bottom{
    border: 2px solid red;
    border-radius: 10px;
    padding: 20px;
    font-size: 10px;
    text-transform: lowercase;
    text-align: center;
    letter-spacing: 0.5em;
    word-spacing: 2.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.cat{
    border: 2px solid black;
    padding: 10px;

}

.cat h4{
    text-align: center;
}

.cat a{
    text-decoration: none;
    color: black;
}

.cat a:hover{
    color: rgb(253, 4, 4);

}

.cat li{
    margin-bottom: 20px;
    border-bottom: 1px dotted blueviolet;
}